.detail{
    padding:0.2em;
}

.channel{
    padding:0;
}

.textbox{
    padding:1em 0;
}

.description{
    margin:0;
    white-space:pre-wrap;
    word-wrap: break-word;
}

.channelTitle{
    cursor:pointer;
    font-weight:600;
    transition: all 150ms ease-in;
}

.channelTitle:hover{
    color:rgb(48, 120, 255);
}

#channelLogo{
    color:rgb(48, 120, 255);
    padding-left:5px;
}

.showButton{
    padding:0;
    border:none;
    background:none;
    cursor:pointer;
    font-weight: 600;
}

.showButton:hover{
    text-decoration: underline;
}

@media screen and (max-width:480px){
    .video{ 
        height:280px;
    }
}