.detail{
    padding:0.2em;
}

.box{
    padding:1em 0;
}

.description{
    margin:0;
    white-space:pre-wrap;
}

.channelTitle{
    cursor:pointer;
    font-weight:600;
}

.showButton{
    padding:0;
    border:none;
    background:none;
    cursor:pointer;
    font-weight: 600;
}

.showButton:hover{
    text-decoration: underline;
}

@media screen and (max-width:480px){
    .video{ 
        height:280px;
    }
}