.detail{
    padding:0.2em;
}

.channel{
    padding:0;
}

.textbox{
    padding:1em 0;
}

.description{
    white-space:pre-wrap;
    word-wrap: break-word;
}

.channelTitle{
    color:white;
    background-color:rgb(211, 10, 10);
    padding:0.7em 1em;
    border-radius: 13px;
    cursor:pointer;
    transition: all 150ms ease-in;
}

.channelTitle:hover{
    background-color:rgb(177, 19, 19);
}

.showButton{
    padding:0;
    border:none;
    background:none;
    cursor:pointer;
    font-weight: 600;
}

.showButton:hover{
    text-decoration: underline;
}

@media screen and (max-width:480px){
    .video{ 
        height:280px;
    }
}