
.container{
    padding:0.2em;
    width:50%
}

.video{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor:pointer;
    transition:transform 200ms ease-in;   
    background-color:rgb(29, 28, 28);
    color:white;
}

.video:hover{
    transform: scale(1.01);
    opacity:0.8;
}

.thumbnail{
    width:40%;
    height:100%;
}

.metadata{
    text-align:center;
    width:100%;
    font-weight:100;
}

.title{
    font-size:1.3rem;
}

.channel{
    font-size:0.8rem;
}

@media screen and (max-width:768px){
    .container{
        width:100%
    }
}