.container{
    padding:0.2em;
}

.container.grid{
    width:50%
}

.container.list{
    width:100%;
}

.video{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border:1px solid lightgray; */
    /* box-shadow: 3px 3px 5px 0px rgba(191,191,191,0.53); */
    cursor:pointer;
    transition:transform 200ms ease-in;   
    background-color:rgb(34, 34, 34);
    color:white;
}

.video:hover{
    transform: scale(1.01);
    opacity:0.8;
}

.thumbnail{
    width:40%;
    height:100%;
}

.metadata{
    text-align:center;
    width:100%;

}

.title{
    font-size:1.3rem;
}

.channel{
    font-size:0.8rem;
}

@media screen and (max-width:768px){
    .container.grid{
        width:100%
    }
}